li {
	list-style-type: none;
}

md-toolbar {
	height: 130px;
	background-color: black !important;
	text-align: center;
	position: relative;
	font-family: 'Fugaz One', cursive;
	color: #F5B22F !important;
}

md-content {
	margin: auto;
	width: 300px;
	padding: 10px;
	text-align: center;
}

md-icon {
	height: 50px;
	width: 50px;
}

md-checkbox .md-icon {
	background-color: #F5B22F !important;
}

.angular-google-map-container {
	height: 400px;
	width: 600px;
}

.signHead{
	height: 400px;
	background-color: black !important;
}

.signHead h1{
	font-size: 150px;
}

.restHead {
	font-size: 75px;
	margin: auto;
}

.md-button {
	min-width: 88px;
	width: 600px;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	border: none;
	outline: none;
	background-color: black;
	color: #F5B22F;
}

.logOutBtn {
	width: 200px;
	height: 130px;
	position: absolute;
	top: 0px;
	font-size: 30px;
	color: #F5B22F !important;
	right: 0px;
}

.logOutText {
	position: relative;
	text-align: center;
	font-size: 30px;
	top:35%;
	font-size: 30px;
}

.mapStyle {
	margin-top: 60px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.dealStyle {
	text-align: center !important;
	font-family: 'Fugaz One', cursive;
	width: 50%;
	margin: auto;
}

.dealStyle h1 {
	font-size: 60px
}

.dealStyle h2 {
	margin-top: -40px;
	font-size: 30px;
}

.listStyle {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	min-height: 50px;
	width: 600px;
	border: 1px solid black;
	font-family: 'Open Sans', sans-serif;
}

.listItem {
	font-size: 20px;
	margin-bottom: 10px;

}

.rushBtn {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Fugaz One', cursive;
}

.arrow {
	width: 300px !important;
}

.form {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.input {
	color: #555 !important;
	margin: auto;
	width: 100%;
	padding: 10px;
}

.dealGrid {
	margin-top: 60px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
}

.dealRest{
	text-align: center;
	padding: 0 110px;
	width: 60%;
}

.dealHead {
	background-color: black !important;
	color: #F5B22F;
}

.addBtn {
	width: 180px;
}
.tile {
	height: 400px;
	margin-bottom: 20px;
}
.ListofItems {
	margin-top: 200px;

}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }

  .datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }

.reviewButton {
	width: 200px;
}

.removeButton{
	min-width: 88px;
	width: 100px;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	border: none;
	outline: none;
	background-color: black;
	color: #F5B22F;
}
