<div>
  <md-toolbar class=signHead>
    <h1>Rush</h1>
    <h3>Sign In</h3>
  </md-toolbar>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form name="signIn" class="form" ng-submit="logIn()">
    <md-input-container class="input">
      <label class="input">User Name</label>
      <input type="email" name="email" ng-model="username">
      <div ng-messages="userForm.email.$error">
        <div ng-message="required">username is Required!</div>
      </div>
    </md-input-container>
    <br>
    <br>
    <md-input-container class="input">
      <label class="input">Password</label>
      <input type="password" name="password" ng-model="password" required>
      <div ng-messages="userForm.password.$error">
        <div ng-message="required">Password is Required!</div>
      </div>
    </md-input-container>
    <md-button type="submit" class="input">
      <md-icon class="arrow" md-svg-icon="arrow" aria-label"submit">
      </md-icon>
    </md-button>
  </form>
  <md-content>
    <a ui-sref-active="pageCurrentlyOn" class="md-accent" ui-sref="signup">Don't have an account? Click here</a>
  </md-content>
</div>
