<div>
  <h1>Sign Up</h1>
  <form name="signUp">
    <label>
      <input type="email" name="email" placeholder="email" ng-model="username">
    </label>
    <label>
      <input type="password" name="password" placeholder="password" ng-model="password">
    </label>
    <label>
      Are you an owner?
      <input type="checkbox" ng-model="isOwnerBox.value">
      <input type="text" name="address" ng-model="address" placeholder="Business Address" ng-show="isOwnerBox.value">
      <input type="text" name="restName" ng-model="restName" placeholder="Business Name" ng-show="isOwnerBox.value">
    </label>
    <input type="submit" ng-click="logUp()">
  </form>
  <a ui-sref-active="pageCurrentlyOn" ui-sref="signin">Have an account already? Click here</a>
</div>
