<div class= 'signIn'>
<header>
  <h1>Rush</h1>
</header>
  <h2>Sign Up</h2>

<div class="input">
  <form name="signUp" class="form" ng-submit="logUp()">
    <md-input-container class="input">
      <label>
        Email
      </label>
      <input type="email" name="email" ng-model="username">
    </md-input-container>
    <md-input-container class="input">
      <label>
        Password
      </label>
      <input type="password" name="password" ng-model="password">
    </md-input-container>
    <br/>
    <md-checkbox aria-label="Are you an owner?" ng-model="isOwnerBox.value">
      Are you an owner?
    </md-checkbox>

    <br>
    <br>
    <md-checkbox aria-label="Sign Up with Yelp?" ng-model="onYelp.value" ng-show="isOwnerBox.value">
      On Yelp?
    </md-checkbox>
    <md-input-container class="input" ng-show="isOwnerBox.value">
      <input type="text" name="restName" ng-model="restName" placeholder="Business Name">
    </md-input-container>
    <br/>
    <md-input-container class="input" ng-show="isOwnerBox.value">
      <input type="text" name="address" ng-model="address" placeholder="Buiness Address">
    </md-input-container>
    <br/>
    <md-button type="submit" class="input" id='signUpbtn'>
      <md-icon md-svg-icon="arrow">
      </md-icon>
    </md-button>
  </form>
</div>
<md-content>
  <a ui-sref-active="pageCurrentlyOn" ui-sref="signin">Have an account already? Click here</a>
</md-content>

<!-- /*CSS FOR THIS PAGE COURTESY OF ERIC SO*/ -->
