<md-toolbar>
	<div class="md-toolbar-tools">
		<span class="restHead"><h1>{{restName}}</h1></span>
		<md-button class="logOutBtn" ng-click="authObj.$unauth()">Sign Out</md-button>
	</div>
</md-toolbar>
<div ng-init="init()">
	<div class="mapStyle">
		<ui-gmap-google-map center='map.center' class='angular-google-map-container' zoom='map.zoom'>
			<ui-gmap-marker	idKey='1'	coords='map.center'></ui-gmap-marker>
			<ui-gmap-circle center='map.center' radius='8400' fill='{color: "#999", opacity: .6}'	stroke='{color: "#33a", weight: 10, opacity: .2}'></ui-gmap-circle>
		</ui-gmap-google-map>
	</div>
	<div class="dealStyle">
		<h1>Your Rush Deals</h1>
		<h2> Add a new deal </h2>
		<form>
			<input type="text" name="deal" ng-model="item" placeholder="Item">
			<input type="number" name="price" step="0.01" ng-model="price" placeholder="Price">
			<input type="submit" ng-click="addToDeals()">
		</form>
	</div>
	<div class="listStyle">
		<ul>
			<li ng-repeat="rush in rushes">
				<div class="listItem">
					<md-checkbox type="checkbox" ng-model="rush.checked" ng-change="selectedDeals()"> {{rush.item + ": $" + rush.price}}
				</div>
			</li>
		</ul>
	</div>
	<div class="rushBtn">
		<md-button class="md-raised" ng-click="declareRush()">Declare Rush</md-button>
	</div>
</div>
