
<md-toolbar>
	<div class="md-toolbar-tools">
		<span class="restHead"><h1>{{"Rush Consumer"}}</h1></span>

		<md-button class="logOutBtn" ng-click="authObj.$unauth()">Sign Out</md-button>
	</div>
</md-toolbar>
<div>
	<div class="mapStyle">
		<ui-gmap-google-map center='map.center' class='angular-google-map-container' zoom='map.zoom' ng-show='locationExists' >
		<ui-gmap-marker	idKey='1'	coords='currentPositions'></ui-gmap-marker>
		<ui-gmap-marker idKey="rush.id" coords="rush.address" ng-repeat="rush in rushRestaurants"></ui-gmap-marker>
		<ui-gmap-circle center='currentPositions'	radius='8046.72' fill='{color: "#999", opacity: .6}' stroke='{color: "#33a", weight: 10, opacity: .2}'></ui-gmap-circle>
	    </ui-gmap-google-map>
	</div>
	<div class="rushBtn">
		<md-button class="filterPositions" ng-click="filterPositions()">Check For New Rushes</md-button>
	</div>
	<div class="dealGrid">
		<md-grid-list md-cols="4" md-row-height="100px">
    	<md-grid-tile class="tile" ng-repeat="deals in rushRestaurants">
    	   <md-grid-tile-header class="dealHead">
    	      <h2 class="dealRest">{{deals.restName}}</h2>
             </md-grid-tile-header>
    	   <div class="md-padding" id="popupContainer" ng-cloak>
                <div class="dialog-demo-content" layout="row" style = 'padding-top: 25px' layout-wrap layout-margin layout-align="center">
             <!-- review button -->
                    <button class="reviewButton" ng-click="showAdvanced($event); grabId(deals.businessId)" flex class="md-warn"> write review </button>
                       <h3 ng-click = 'grabId(deals.businessId);  showAdvanced2($event)'> reviews </h3>
                </div>
             </div>

             <!-- list of deals -->
           <md-list class='ListofItems'>
                <md-list-item ng-repeat="deal in deals.deals" class="listItem">
    		      {{deal.item + ": " + deal.price}}
           <div>
          <img ng-src="{{deals.yelpReview}}" alt="Description" />
          </div>
                </md-list-item>
    	   </md-list>
    	</md-grid-tile>
    </md-grid-list>

   <!--
 -->
	</div>
</div>
