<!-- customer reviews template-->
<md-dialog aria-label="Dash" ng-cloak style="width: 500px" >
   <form   ng-controller='reviewController'> 
      <h2  style='text-align: center; color: red;'>reviews</h2>
      <md-dialog-content> 
         <ul>
            <h3>customer reviews on {{thisRestName}}</h3>
            <li ng-repeat='item in thisReviews'> {{item.user}}: {{item.review}}</li>
         </ul>
      </md-dialog-content>
      <md-dialog-actions layout="row">
         <span flex></span>
         <md-button ng-click="answer()"> close reviews </md-button>
       </md-dialog-actions>
   </form>
</md-dialog>



 